services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_server
    volumes:
      - rabbitmq_volume:/var/lib/rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - my_network
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    restart: always

volumes:
  rabbitmq_volume:

networks:
  my_network: